<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.example.toast"
        version="1.0.0">

  <name>Toast</name>

  <description>
    This plugin allows you to show a Toast.
    A Toast is a little non intrusive buttonless popup which automatically disappears.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.7.0"/>
  </engines>

  <js-module src="www/Toast.js" name="Toast">
    <clobbers target="myPlugin" />
  </js-module>

 
  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Toast">
        <param name="android-package" value="com.example.toast.Toast" />
      </feature>
    </config-file>

    <source-file src="src/com/example/toast/Toast.java" target-dir="src/com/example/toast"/>
  </platform>

</plugin>